.App {
    /* background-color: rgb(38, 38, 88); */
    /* color: white; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
}

.RatingDisplay {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topbar {
    width: 100vw;
    height: 250px;
    background-color: gray;
    color: black;
}

.header {
    margin: 20px;
    width: 80%;
}

.header p {
    font-size: 20px;
}

.line-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 40%;
    height: 2px;
    background-color: gray;
}

.cards-div {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.cards-div>.card {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    /* padding: 1.5vw; */
    width: 20vw;
    height: 450px;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card-content {
    height: 400px;
    margin-top: 30px;
}

.cards-div>.card>.card-content>h4 {
    line-height: 2px;
}

.card img {
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
    width: 100%;
    height: 200px;
    border: 1px solid rgb(194, 189, 189);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-weight: bold;
    cursor: pointer;
}

.watch-card .footer {
    background-color: aquamarine;

}

.watch-card h4 {
    color: rgb(19, 216, 150);
}

.shoes-card .footer {
    background-color: rgb(255, 47, 0);
}

.shoes-card h4 {
    color: rgb(255, 47, 0);
}

.shirt-card .footer {
    background-color: rgba(255, 208, 0, 0.977);
}

.shirt-card h4 {
    color: rgba(255, 208, 0, 0.977);
}


.star {
    color: grey;
}

.star.yellow {
    color: yellow;
}